
<body class = "body">


<div class="jumbotron">
  <h1 class="display-3">Welcome to JET-Optimizer!</h1>
  <p class="lead">Financial analysis on steroids </p>
  <hr class="my-4">
  <p>Are you ready?</p>
  <p class="lead">
    <button type="button" class="btn btn-success btn-lg" onclick= "document.location='/asset_classes'">Lets Go! </button>
  </p>
</div>


</body>