

<div>
  <div>
    <h3> List of Capital Market Assumptions </h3>
  </div>
</div>

<hr>

  <div class="row">
    <div class="col-6">
        <table class="table table-hover">
          <thead>
            <tr class="table-info">
              <th>Name</th>
              <th>Details </th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @list_of_cmas.each do |a_cma| %>
            <tr class="table-light">
              <th> <%= a_cma.name %> </th>
              <td> <a href="/cmas/<%= a_cma.id %>"> View details </a> </td>
              <td>  <a class="text-danger" href="/delete_cma/<%= a_cma.id %>"> Delete CMA  </a>  </td>
            </tr>
            <% end %>
            </tbody>
          </table>
    </div>
    <div class="col-6"> 
    </div>    
  </div>


<hr>

<div>
  <div>
    <h4> Add a new CMA Group</h4>
    <form action="/insert_cma" method="post">
      <div class="form-group">
        <label for="name_box"> Name </label>
        <input type="text" id="name_box" name="query_name">
      </div>
      <input type="submit" class="btn btn-success" value = "Create CMA">
    </form>
  </div>
</div>

